<p>
  <strong>Session:</strong>
  <%= @participant.session_id %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @participant.ip_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @participant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @participant.last_name %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @participant.instructor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<%= link_to 'Back', participants_path %>
