<% if @participant.id % 2 == 0 %>
<% prompt = "Write a research report for policy makers about the causes of the urban housing crisis (UHC)." %>
<% else %>
<% prompt = "Write a research report for policy makers about the solution to the urban housing crisis (UHC)." %>
<% end %>

<p>
  Please use the source library below to research information to respond to the following prompt:
</p>

<div class="alert alert-info">
  <h4>
    <%= prompt %>
  </h4>
</div>

<br>

<% @sources.in_groups_of(3).each do |row| %>
  <div class="row">
    <% row.each do |source_array| %>
    <div class="col-md-4">
      <%= link_to source_array[0], "#", :class => "btn btn-lg btn-success btn-block source-btn", :id => source_array[1],
        :data => {
          :toggle => "modal", :target => "#source_pre_modal", :backdrop => "static", :keyboard => false,
          :text_modal => "##{source_array[1]}_modal"
        } %>
      <br>
      <br>
    </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Click here to compose your response", "#", :class => "btn btn-lg btn-danger btn-block",
    :data => { :toggle => "modal", :target => "#continue_modal", :backdrop => "static", :keyboard => false } %>
  </div>
</div>

<!-- Modals -->

<%= content_tag :div, :class => "modal source_pre_modal fade", :id => "source_pre_modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Source Selection
        </h4>
      </div>
      <div class="modal-body">
        <p class="instructions">Please select the <strong>main</strong> reason you chose this text:</p>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="1">
            It seemed <strong>relevant</strong> to the task
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="2">
            It seemed <strong>trustworthy</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="3">
            It seemd like it <strong>agreed with my point of view</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="4">
            It seemed <strong>interesting</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="5">
            It seemed like it <strong>related</strong> to information in the <strong>other texts</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="6">
            This was the <strong>next text</strong> listed or I <strong>randomly</strong> chose this text
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="pre_reason" value="7">
            Other (please explain):
          </label>
        </div>
        <input type="text" name="pre_reason_other_text" class="form-control pre_reason_other_text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default go_to_source">Go to source</button>
      </div>
    </div>
  </div>
<% end %>

<% @sources.each do |source| %>
  <%= content_tag :div, :class => "modal source_modal fade",
    :id => "#{source[1]}_modal", :data => { :name => source[0] } do %>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close source_modal_close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">
            <%= source[0] %>
          </h4>
        </div>
        <div class="modal-body">
          <p>
            <%= link_to "Click here for the source citation", "#", :class => "btn btn-default more_source_info" %>
          </p>

          <%= render "sources/#{source[1]}" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default source_modal_close">Back to Library</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  <% end %>
<% end %>

<!-- Source Evaluation Modal -->

<%= content_tag :div, :class => "modal fade", :id => "source_evaluation_modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close source_evaluation_modal_close" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Source Evaluation
        </h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          Please rate this source:
        </div>

        <p class="instructions">How much did you <strong>like</strong> this source?</p>
        <%= render "shared/mm_line", :num => 50, :left_text => "Not at all", :right_text => "A lot" %>
        <p class="instructions">Please rate this text <strong>overall</strong> </p>
        <%= render "shared/mm_line", :num => 40, :left_text => "Very negative", :right_text => "Very positive" %>

        <p class="instructions">Please select the <strong>main</strong> reason why you <strong>liked</strong> or <strong>disliked</strong> this text:</p>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="1">
            It's <strong>relevance</strong> or irrelevance to the task
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="2">
            It's <strong>trustworthiness</strong> or lack of trustworthiness
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="3">
            It's <strong>agreement</strong> or disagreement <strong>with my point of view</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="4">
            It's <strong>easiness</strong> or difficulty <strong>to understand</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="5">
            It's <strong>interestingness</strong> or lack of interestingness
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="6">
            It's <strong>informativeness</strong> or lack of informativeness
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="7">
            It's inclusion of informatino <strong>related</strong> or unrelated <strong>to other texts</strong>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="post_reason" value="8">
            Other (please explain):
          </label>
        </div>
        <input type="text" name="post_reason_other_text" class="form-control post_reason_other_text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default source_evaluation_modal_close">Back to Library</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<% end %>

<!-- Stance Radio Button Modal -->

<%= content_tag :div, :class => "modal fade", :id => "continue_modal" do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          You selected that you were ready to compose your research report. Please evaluate your source use overall and explain how you knew that you were ready to compose a written response.  
        </h4>
      </div>
      <%= form_for @stance, :html => { :id => "stance_form" } do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :source_order %>

          <%= f.text_area :statement, :class => "form-control", :rows => 20,
            :placeholder => "Please evaluate your source use, overall, and explain how you determined that you had enough information to compose your written response." %>

        </div>
        <div class="modal-footer">
          <%= f.submit "Continue", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<% end %>
