<%= form_for @stance, :html => { :class => "ranking_form" } do |f| %>

<div class="alert alert-info">
	Think about the sources you used while researching overpopulation.
</div>

<% @sources_used.each_with_index do |source, index| %>
	<input type="hidden" value="<%= source[1] %>"
		name="stance[rankings_attributes][<%= index %>][source_name]" />
<% end %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Please order the sources according to when you visited them while researching overpopulation, from first to last.</th>
			<th>Please tell us what you remember about the author of each source.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="useful<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][useful_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Plese enter what you remember about the author here." 
						name="stance[rankings_attributes][<%= index %>][useful_justification]" />
				</td>
			</tr>
		<% end %>

	</tbody>
</table>


<%= f.submit "I'm Finished!", :class => "btn btn-primary" %>

<% end %>
