<%= form_for @stance, :html => { :class => "ranking_form" } do |f| %>

<div class="alert alert-info">
	Please rank each source you used from <strong>most informative</strong> to
	<strong>least informative</strong>.
</div>

<% @sources_used.each_with_index do |source, index| %>
	<input type="hidden" value="<%= source[1] %>"
		name="stance[rankings_attributes][<%= index %>][source_name]" />
<% end %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Rank the source you consider to be <strong>most informative</strong> as 1</th>
			<th>Please identify anything else you want to know about the information in each source or any <em>critical questions</em> you have.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="useful<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][useful_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Critical Question" 
						name="stance[rankings_attributes][<%= index %>][useful_justification]" />
				</td>
			</tr>
		<% end %>

	</tbody>
</table>



<%= f.submit "I'm Finished!", :class => "btn btn-primary" %>

<% end %>
