<%= form_for @stance, :html => { :class => "ranking_form" } do |f| %>

<div class="alert alert-info">
	Please rank each source you used from <strong>most useful</strong> to
	<strong>least useful</strong>.
</div>

<% @sources_used.each_with_index do |source, index| %>
	<input type="hidden" value="<%= source[1] %>"
		name="stance[rankings_attributes][<%= index %>][source_name]" />
<% end %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Rank the source you consider to be <strong>most useful</strong> as 1</th>
			<th>Please justify your ranking of each source.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="useful<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][useful_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Please enter your reasoning" 
						name="stance[rankings_attributes][<%= index %>][useful_justification]" />
				</td>
			</tr>
		<% end %>

	</tbody>
</table>

<div class="alert alert-info">
	Please rank each source you used from <strong>most trustworthy</strong> to
	<strong>least trustworthy</strong>.
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Rank the source you consider to be <strong>most trustworthy</strong> as 1</th>
			<th>Please justify your ranking of each source.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="trustworthy<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][trustworthy_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Please enter your reasoning" 
						name="stance[rankings_attributes][<%= index %>][trustworthy_justification]" />
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="alert alert-info">
	Please rank the <strong>information</strong> in each source you used from <strong>most accurate</strong> to
	<strong>least accurate</strong>.
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Rank the source you consider to have the <strong>most accurate information</strong> as 1</th>
			<th>Please justify your ranking of each source.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="accurate<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][accurate_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Please enter your reasoning" 
						name="stance[rankings_attributes][<%= index %>][accurate_justification]" />
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="alert alert-info">
	Please rank each source you used from <strong>most interesting</strong> to
	<strong>least interesting</strong>.
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>Rank the source you consider to be <strong>most interesting</strong> as 1</th>
			<th>Please justify your ranking of each source.</th>
		</tr>
	</thead>
	<tbody>
		<% @sources_used.each_with_index do |source, index| %>
			<tr>
				<td><%= source[0] %></td>
				<td>
					<% (1..@sources_used.length).each do |i| %>
						<%= i %>
						<input type="radio" class="interesting<%= i %>" value="<%= i %>"
							name="stance[rankings_attributes][<%= index %>][interesting_ranking]" />
						&nbsp;&nbsp;
					<% end %>
				</td>
				<td>
					<input type="text"  class="form-control" placeholder="Please enter your reasoning" 
						name="stance[rankings_attributes][<%= index %>][interesting_justification]" />
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= f.submit "I'm Finished!", :class => "btn btn-primary" %>

<% end %>
